<div class="container-fluid">
    <div class="row food-cards">
        {% for recipe in recipes %}
        <div class="col-md-3  food-cards__recipe-container">
            <a href="/recipe/{{ recipe.id }}">
                <img src="{{ recipe.image }}" alt="Image of {{ recipe.title }}" class="food-cards__img img-fluid">
            </a>
            <p class="food-cards__food-name">{{ recipe.title }}</p>
            <div class="btn-group">
                <a class="food-cards__button" href="#">
                    <img src="../static/images/icons/likes.svg" alt="" class="food-cards__button--likes-icon food-cards__button-icon--active"> 
                    <span class="food-cards__button-text--active">{{ recipe.users|length }}</span>
                </a>
                <a class="food-cards__button" href="#">
                    <img src="../static/images/icons/grocery-list.svg" alt="" class="food-cards__button--grocery-list-icon food-cards__button-icon--inactive">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  