<div class="container-fluid">
    <div class="row food-cards">
        {% for recipe in recipes %}
        <div class="col-md-3 food-cards__recipe-container">
            <a href="/recipe/{{ recipe.id }}">
                <img src="{{ recipe.image }}" alt="Image of {{ recipe.title }}" class="food-cards__img img-fluid">
            </a>
            <p class="food-cards__food-name">{{ recipe.title }}</p>
            {% if g.user %}
            <div class="btn-group">
                {% if recipe in g.user.liked_recipes %}
                <form method="POST" 
                      action="/users/remove_like/{{ recipe.id }}" id="messages-form">
                  <button class="food-cards__button">
                    <img src="../../static/images/icons/likes.svg" alt="" class="food-cards__button--likes-icon food-cards__button-icon--active"> 
                    <span class="food-cards__button-text--active">{{ recipe.liked_by_users|length }}</span>
                  </button>
                </form>
                {% else %}
                <form method="POST" 
                      action="/users/add_like/{{ recipe.id }}" id="messages-form">
                  <button class="food-cards__button">
                    <img src="../../static/images/icons/likes.svg" alt="" class="food-cards__button--likes-icon food-cards__button-icon--inactive"> 
                    <span class="food-cards__button-text--inactive">{{ recipe.liked_by_users|length }}</span>
                  </button>
                </form>
                {% endif %}
                {% if recipe in g.user.grocery_list_recipes %}
                <form method="POST" 
                      action="/users/remove_grocery_item/{{ recipe.id }}" id="messages-form">
                  <button class="food-cards__button">
                    <img src="../../static/images/icons/grocery-list.svg" alt="" class="food-cards__button--grocery-list-icon food-cards__button-icon--active">
                  </button>
                </form>
                {% else %}
                <form method="POST" 
                      action="/users/add_grocery_item/{{ recipe.id }}" id="messages-form">
                  <button class="food-cards__button">
                    <img src="../../static/images/icons/grocery-list.svg" alt="" class="food-cards__button--grocery-list-icon food-cards__button-icon--inactive">
                  </button>
                </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
  