<div class="container-fluid">
    <div class="row food-cards">
        <div class="col-md-3">
            <img src="..\static\images\food\sushi.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Sushi</p>
        </div>
        
        <div class="col-md-3">
            <img src="..\static\images\food\spaghetti.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Spaghetti</p>
        </div>
        
        <div class="col-md-3">
            <img src="..\static\images\food\raspberry-cake.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Raspberry Cake</p>
        </div>
        
        <div class="col-md-3">
            <img src="..\static\images\food\pancit.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Pancit</p>
        </div>
    </div>
  </div>
  