<div class="container-fluid">
    <div class="row food-cards">
        <div class="col-md-3">
            <img src="..\static\images\food\sushi.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Sushi</p>
            <div class="btn-group">
                <a class="food-cards__button food-cards__button-likes--inactive" href="#">
                    <i class="fas fa-thumbs-up food-cards__button--thumbs-up-icon"></i> 78
                </a>
                <a class="food-cards__button food-cards__button-grocery-list--inactive" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        
        <div class="col-md-3">
            <img src="..\static\images\food\spaghetti.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Spaghetti</p>
            <div class="btn-group">
                <a class="food-cards__button food-cards__button-likes--active" href="#">
                    <i class="fas fa-thumbs-up food-cards__button--thumbs-up-icon"></i> 11
                </a>
                <a class="food-cards__button food-cards__button-grocery-list--inactive" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        
        <div class="col-md-3">
            <img src="..\static\images\food\raspberry-cake.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Raspberry Cake</p>
            <div class="btn-group">
                <a class="food-cards__button food-cards__button-likes--active" href="#">
                    <i class="fas fa-thumbs-up food-cards__button--thumbs-up-icon"></i> 37
                </a>
                <a class="food-cards__button food-cards__button-grocery-list--active" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        
        <div class="col-md-3">
            <img src="..\static\images\food\pancit.jpg" alt="" class="food-cards__img img-fluid">
            <p class="food-cards__food-name">Pancit</p>
            <div class="btn-group">
                <a class="food-cards__button food-cards__button-likes--active" href="#">
                    <i class="fas fa-thumbs-up food-cards__button--thumbs-up-icon"></i> 67
                </a>
                <a class="food-cards__button food-cards__button-grocery-list--inactive" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
  </div>
  