<div class="container-fluid">
    <div class="row food-cards">
        {% for recipe in recipes %}
        <div class="col-md-3">
            <a href="/recipe/{{ recipe.id }}">
                <img src="{{ recipe.image }}" alt="" class="food-cards__img img-fluid">
            </a>
            <p class="food-cards__food-name">{{ recipe.title }}</p>
            <div class="btn-group">
                <a class="food-cards__button food-cards__button--inactive" href="#">
                    <i class="fas fa-thumbs-up food-cards__button--thumbs-up-icon"></i> 78
                </a>
                <a class="food-cards__button food-cards__button--inactive" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  