<div class="hero-container">
    <div class="row no-gutters">
      <div class="col-md-12 hero-container__gradient"></div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <img src="..\static\images\hero-image.jpg" alt="" class="hero-container__img img-fluid mx-auto d-block">
        </div>
      </div>
    </div>
    <h1 class="hero-container__caption text-center">Discover Recipes.</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <span class="hero-container__scroll">
              <span class="hero-container__scroll-rectangle">
                <div class="hero-container__scroll-ball"></div>
              </span>
              Scroll</span>
        </div>
    </div>
    </div>
</div>