<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group food-filter d-flex justify-content-end">
          <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
              1
          </a>
          <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
            2
        </a>
        <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
            3
        </a>
        <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
            4
        </a>
        <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
            5
        </a>
        <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
            next <i class="fas fa-arrow-up food-filter__button--likes-icon"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
  