<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-7 recipe-page">
        <h1 class="recipe-page__title">Pancit</h1>
        <ul class="recipe-page__stats">
            <li class="recipe-page__stats-item">
                <p class="recipe-page__stats-item-likes">67 likes</p>
            </li>
            <li class="recipe-page__stats-item">
                <a class="recipe-page__stats-item-button recipe-page__stats-item-button--active" href="#"><i class="fas fa-thumbs-up"></i></a>
            </li>
            <li class="recipe-page__stats-item">
                <a class="recipe-page__stats-item-button recipe-page__stats-item-button--inactive" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-7">
                <img src="..\static\images\food\pancit.jpg" alt="" class="recipe-page__img img-fluid">
            </div>
            <div class="col-md-5">
                <div class="recipe-page__info ml-auto">
                    <ul class="fa-ul recipe-page__info-container">
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-leaf"></i>Vegan</li>
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-globe-americas"></i>Filipino</li>
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-clock"></i>40 min</li>
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-utensil-spoon"></i>4 servings</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="recipe-page__separator"></div>
        <div class="recipe-page__ingredients">
            <h2 class="recipe-page__section-title">
                Ingredients
            </h2>
            <ul class="recipe-page__ingredients-container">
                <li class="recipe-page__ingredients-text">1 (6.75 ounce) - package rice noodles</li>
                <li class="recipe-page__ingredients-text">¼ cup and 1 tablespoon - vegetable oil, divided</li>
                <li class="recipe-page__ingredients-text">1 - small onion minced</li>
                <li class="recipe-page__ingredients-text">2 - cloves garlic, minced</li>
                <li class="recipe-page__ingredients-text">½ - teaspoon ground ginger</li>
                <li class="recipe-page__ingredients-text">3 - tablespoons cooked small shrimp, diced</li>
                <li class="recipe-page__ingredients-text">3 - tablespoons chopped cooked pork</li>
                <li class="recipe-page__ingredients-text">½ - cup shredded bok choy</li>
                <li class="recipe-page__ingredients-text">3 - tablespoons oyster sauce</li>
                <li class="recipe-page__ingredients-text">¼ - cup chicken broth</li>
                <li class="recipe-page__ingredients-text">¼ - teaspoon crushed red pepper flakes</li>
                <li class="recipe-page__ingredients-text">1 - green onion, minced</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
    </div>
  </div>
  