<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-7 recipe-page">
        <h1 class="recipe-page__title">Pancit</h1>
        <ul class="recipe-page__stats">
            <li class="recipe-page__stats-item">
                <p class="recipe-page__stats-item-likes">67 likes</p>
            </li>
            <li class="recipe-page__stats-item">
                <a class="recipe-page__stats-item-button recipe-page__stats-item-button--active" href="#"><i class="fas fa-thumbs-up"></i></a>
            </li>
            <li class="recipe-page__stats-item">
                <a class="recipe-page__stats-item-button recipe-page__stats-item-button--inactive" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  