<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-7 recipe-page">
          <h1 class="recipe-page__title">Pancit</h1>
          <div style="display:inline-block">
            <ul>
                <li>
                    <p>67 likes</p>
                </li>
                <li>
                    <a class="" href="#"><i class="fas fa-thumbs-up"></i></a>
                </li>
                <li>
                    <a class="" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  