<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light">
          <a id="logo" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Social <img src="../static/images/icons/social.svg" alt="" class="social-icon" id="socialIcon"></a>
              </li>
              {% if not g.user %}
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {% else %}
              
              <li class="nav-item">
                <a class="nav-link" href="/edit_profile">{{ g.user.username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/liked_recipes"><img src="../static/images/icons/likes.svg" alt="" class="likes-icon"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/grocery_list"><img src="../static/images/icons/grocery-list.svg" alt="" class="grocery-list-icon"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
      </nav>
    </div>
  </div>
</div>