*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62.5% */
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }
  @media only screen and (max-width: 120em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  font-size: 1.6rem;
  color: #050505;
  position: relative;
  min-height: 100%; }

a:hover {
  text-decoration: none; }

button {
  outline-color: #31B233 !important; }

.col-md-12 {
  padding: 0 8.8rem; }

.container-fluid {
  max-width: 144rem; }

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-radius: 4px; }

#logo {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: 700; }
  #logo:hover {
    text-decoration: none; }

.navbar {
  padding: 2.4rem 0; }

.nav-item:first-child,
.nav-item:not(:first-child) > .nav-link {
  padding: 0 1.6rem; }

.nav-item:not(:first-child) > .nav-link {
  border-left: 2px solid #050505; }

.navbar-light .navbar-nav .nav-link {
  color: #050505;
  padding-top: 0;
  padding-bottom: 0; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #31B233; }
    .navbar-light .navbar-nav .nav-link:hover .social-icon,
    .navbar-light .navbar-nav .nav-link:hover .likes-icon,
    .navbar-light .navbar-nav .nav-link:hover .grocery-list-icon {
      filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }

.social-icon,
.likes-icon,
.grocery-list-icon {
  height: 2rem;
  filter: invert(0%) sepia(5%) saturate(19%) hue-rotate(250deg) brightness(98%) contrast(96%); }

.social-icon {
  margin-top: -.3rem;
  padding-left: 8px; }

.hero-container {
  position: relative;
  margin: 8.8rem auto 16rem; }
  .hero-container__img {
    border-radius: 2px; }
  .hero-container__gradient {
    height: 65%;
    background: linear-gradient(180deg, #009B49 0%, #8CDC09 50.52%, #FFFFFF 100%);
    position: absolute;
    top: 40%;
    z-index: -1; }
  .hero-container__caption {
    font-size: 4.8rem;
    font-weight: 700;
    margin-top: 6.4rem; }
  .hero-container__scroll {
    display: inline-block;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    transform: rotate(270deg);
    margin-left: -4.8rem; }
    .hero-container__scroll-rectangle {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1.6rem;
      background: #050505;
      height: 4px;
      width: 80px;
      border-radius: 4px; }
    .hero-container__scroll-ball {
      width: 8px;
      height: 4px;
      border-radius: 4px;
      background-color: white;
      animation-name: scroll;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    margin-left: 72px; }
  50% {
    width: 24px; }
  80% {
    width: 8px;
    opacity: 1; }
  100% {
    margin-left: 0px;
    opacity: 0; } }

.searchbar__input {
  color: #31B233;
  font-size: 1.6rem;
  height: auto;
  padding: 1rem .8rem;
  border: 2px solid #31B233;
  opacity: .6; }
  .searchbar__input:hover {
    opacity: .8; }
  .searchbar__input:focus {
    opacity: 1; }

.searchbar__buttons {
  position: absolute;
  right: .8rem;
  z-index: 4; }
  .searchbar__buttons--search, .searchbar__buttons--clear {
    opacity: .6;
    padding: 0; }
    .searchbar__buttons--search:hover, .searchbar__buttons--clear:hover {
      opacity: 1; }
  .searchbar__buttons--search-icon {
    height: 2.4rem;
    filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }
  .searchbar__buttons--clear-icon {
    height: 2.6rem;
    filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }

.food-filter {
  margin: 4.8rem auto; }
  .food-filter__button {
    padding: 1.6rem;
    background: #fff;
    border: none; }
    .food-filter__button--active, .food-filter__button--inactive:hover {
      color: #050505;
      font-weight: 600;
      border-bottom: 2px solid #31B233; }
      .food-filter__button--active #likesIcon, .food-filter__button--inactive:hover #likesIcon {
        filter: invert(0%) sepia(88%) saturate(4802%) hue-rotate(115deg) brightness(123%) contrast(96%); }
    .food-filter__button--inactive {
      color: #7D8886;
      border-bottom: 2px solid #7D8886; }
      .food-filter__button--inactive #likesIcon {
        filter: invert(55%) sepia(6%) saturate(379%) hue-rotate(119deg) brightness(94%) contrast(92%); }
    .food-filter__button--likes-icon {
      height: 12px;
      margin-top: -2px; }

.dropdown-item {
  font-size: 1.6rem; }

.food-cards {
  padding-left: calc(8.8rem - 15px);
  padding-right: calc(8.8rem - 15px);
  margin-bottom: 4.8rem; }
  .food-cards__recipe-container {
    margin-bottom: 2.4rem; }
  .food-cards__img {
    border-radius: 2px; }
  .food-cards__food-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.6rem; }
  .food-cards__button {
    margin-right: 1.6rem;
    border: none;
    background: #fff; }
    .food-cards__button:hover .food-cards__button-text--inactive, .food-cards__button-text--active {
      color: #31B233; }
    .food-cards__button:hover .food-cards__button-text--active, .food-cards__button-text--inactive {
      color: #9EA6A8; }
    .food-cards__button:hover .food-cards__button-icon--inactive, .food-cards__button-icon--active {
      filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }
    .food-cards__button:hover .food-cards__button-icon--active, .food-cards__button-icon--inactive {
      filter: invert(73%) sepia(6%) saturate(271%) hue-rotate(145deg) brightness(91%) contrast(85%); }
    .food-cards__button--likes-icon, .food-cards__button--grocery-list-icon {
      height: 2rem; }
    .food-cards__button--likes-icon {
      padding-right: .8rem; }

.pagination {
  left: -1.6rem; }
  .pagination__button {
    font-size: 1.6rem;
    padding: .4rem 1.2rem;
    border-radius: 2px; }
    .pagination__button:not(:last-child) {
      margin-right: 1.6rem; }
    .pagination__button--active, .pagination__button--active:hover, .pagination__button--inactive:hover {
      color: #fff;
      background: #31B233;
      border: 1px #31B233 solid; }
    .pagination__button--inactive {
      color: #050505;
      background: #fff;
      border: 1px #7D8886 solid; }
    .pagination__button--next, .pagination__button--next:hover {
      color: #050505;
      position: relative; }
    .pagination__button--next-icon {
      height: 1.6rem;
      color: #31B233;
      margin-left: 1.6rem;
      margin-top: .4rem;
      position: absolute;
      filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }
    .pagination__button--previous, .pagination__button--previous:hover {
      color: #050505;
      position: relative; }
    .pagination__button--previous-icon {
      height: 1.6rem;
      color: #31B233;
      margin-right: 1.2rem;
      margin-top: .4rem;
      filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }

.footer {
  background: linear-gradient(90.15deg, #009B49 1%, #31B233 50.5%, #8CDC09 100%);
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }
  .footer-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0; }
  .footer-fix {
    height: 32rem; }
  .footer--forms {
    background: #fff; }
  .footer__button {
    border: 1px solid #31B233;
    margin: 11.4rem 0 2.4rem;
    padding: .6rem .8rem .8rem;
    border-radius: 2px; }
    .footer__button-icon {
      filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%);
      height: 2.4rem; }
    .footer__button:hover {
      background: #31B233; }
      .footer__button:hover > #footerButtonIcon {
        filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(305deg) brightness(106%) contrast(103%); }
  .footer__text {
    font-size: 1.6rem;
    display: inline-flex;
    align-items: center; }
  .footer__made-with {
    color: #fff; }
    .footer__made-with--forms {
      color: #050505; }
  .footer__icon {
    margin: auto .8rem; }

.user-lists__title {
  display: inline-block;
  margin: 8.8rem auto; }
  .user-lists__title-container {
    text-align: center; }
  .user-lists__title-text {
    font-size: 4.8rem;
    font-weight: 600; }
  .user-lists__title-underline {
    background: linear-gradient(90deg, #8CDC09 0%, #009B49 50%, #8CDC09 100%);
    height: .4rem; }

.sms__button {
  color: #fff;
  font-size: 1.6rem;
  background: #31B233;
  padding: 2rem 2.8rem;
  margin: 8.8rem auto;
  border-radius: 5rem; }
  .sms__button:hover {
    color: #fff;
    background: #009B49; }
  .sms__button-icon {
    margin-top: -.8rem;
    margin-left: 1.6rem; }

.recipe-page__title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-top: 8.8rem; }

.recipe-page__stats-item {
  display: inline-block;
  margin-bottom: 4.8rem; }
  .recipe-page__stats-item-likes {
    padding-right: 1.6rem;
    font-weight: 700; }
  .recipe-page__stats-item-button {
    padding: 0 1.6rem;
    border: none;
    background: #fff; }
    .recipe-page__stats-item-button--likes {
      border-left: 2px solid #050505;
      border-right: 2px solid #050505; }
    .recipe-page__stats-item-button--inactive, .recipe-page__stats-item-button--active, .recipe-page__stats-item-button--inactive:hover, .recipe-page__stats-item-button--active:hover {
      height: 2rem; }
    .recipe-page__stats-item-button--active, .recipe-page__stats-item-button--inactive:hover {
      filter: invert(53%) sepia(13%) saturate(2758%) hue-rotate(72deg) brightness(102%) contrast(86%); }
    .recipe-page__stats-item-button--inactive, .recipe-page__stats-item-button--active:hover {
      filter: invert(73%) sepia(6%) saturate(271%) hue-rotate(145deg) brightness(91%) contrast(85%); }

.recipe-page__img {
  padding: .4rem;
  background: linear-gradient(to bottom right, #009B49, #8CDC09); }

.recipe-page__info {
  width: 20rem;
  padding: 1.6rem;
  margin-bottom: 0;
  border: 2px solid #7D8886; }
  .recipe-page__info-container {
    margin-bottom: 0; }
  .recipe-page__info-text {
    padding-left: 1.6rem;
    padding-bottom: .8rem; }
  .recipe-page__info-text-list:not(:last-child):after {
    content: ", "; }

.recipe-page__separator {
  height: 1px;
  width: 100%;
  margin: 4.8rem auto;
  background: #7D8886; }

.recipe-page__section-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 4.8rem auto; }

.recipe-page__macros-text:not(:last-child), .recipe-page__ingredients-text:not(:last-child), .recipe-page__directions-text:not(:last-child) {
  margin-bottom: 1.6rem; }

.recipe-page__directions-steps, .recipe-page__macros-name {
  font-weight: 700;
  margin-bottom: .8rem; }

.recipe-page__macros-amount {
  font-weight: 400; }

.forms {
  background: url("../images/form-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 17.2rem);
  position: relative; }
  .forms__register {
    background: #fff;
    border-radius: 2px;
    padding: 3.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .forms__icon {
    font-size: 4.8rem;
    color: #31B233;
    margin-bottom: 2.4rem; }
  .forms__title {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1.6rem; }
  .forms__description {
    margin-bottom: 3.2rem; }
  .forms__input {
    color: #31B233;
    font-size: 1.6rem;
    height: auto;
    padding: 1rem 3.2rem;
    border: 2px solid #31B233;
    opacity: .6; }
    .forms__input-container:not(:last-child) {
      margin-bottom: 1.6rem; }
    .forms__input-icon {
      color: #31B233;
      opacity: .6;
      position: absolute;
      left: .8rem;
      z-index: 4; }
    .forms__input:hover {
      opacity: .8; }
    .forms__input:focus + .forms__input-icon {
      opacity: 1; }
  .forms__button {
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
    background: #31B233;
    margin-top: 3.2rem;
    padding: 2rem 2.8rem;
    border-radius: 2px;
    border: none; }
    .forms__button:hover {
      background: #009B49; }
  .forms__confirm-changes {
    margin-top: 2.4rem; }

.form-text {
  margin: -1rem 0 1rem; }

.flash {
  padding: 1rem 2rem;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 4px;
  border: none; }

.flash-success,
.flash-danger {
  color: #fff; }

.flash-success {
  background-color: #009B49; }

.flash-danger {
  background-color: #CF0000; }

.flash-form-success {
  color: #31B233;
  background-color: #fff; }
