<div class="container-fluid">
    <div class="row">
       <div class="col-md-12">
          <div class="btn-group pagination d-flex justify-content-end">
             <a class="pagination__button pagination__button--active" href="#">
             1
             </a>
             <a class="pagination__button pagination__button--inactive" href="#">
             2
             </a>
             <a class="pagination__button pagination__button--inactive" href="#">
             3
             </a>
             <a class="pagination__button pagination__button--inactive" href="#">
             4
             </a>
             <a class="pagination__button pagination__button--inactive" href="#">
             5
             </a>
             <a class="pagination__button pagination__button--next" href="#">
             next <img src="../../../static/images/icons/next.svg" alt="" class="pagination__button--next-icon">
             </a>
          </div>
       </div>
    </div>
 </div>