<div class="container-fluid">
    <div class="row">
       <div class="col-md-12">
          <div class="btn-group pagination d-flex justify-content-end">
            {% for page_button in [1,2,3,4,5] %}
            {% if page_number == loop.index %}
            <a class="pagination__button pagination__button--active" href="/page_{{loop.index}}">
               {{loop.index}}
            </a>
            {% else %}
            <a class="pagination__button pagination__button--inactive" href="/page_{{loop.index}}">
               {{loop.index}}
            </a>
            {% endif %}
            {% endfor %}
             <!-- <a class="pagination__button pagination__button--active" href="#">
             1
             </a>
             <a class="pagination__button pagination__button--inactive" id="page2" href="#">
             2
             </a>
             <a class="pagination__button pagination__button--inactive" id="page3" href="#">
             3
             </a>
             <a class="pagination__button pagination__button--inactive" id="page4" href="#">
             4
             </a>
             <a class="pagination__button pagination__button--inactive" id="page5" href="#">
             5
             </a> -->
             <a class="pagination__button pagination__button--next" href="/page_{{page_number+1}}">
             next <img src="../../../static/images/icons/next.svg" alt="" class="pagination__button--next-icon">
             </a>
          </div>
       </div>
    </div>
 </div>