<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group food-filter">
        <div class="dropdown">
          <button
            class="food-filter__button food-filter__button--active food-filter__button--diet"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Diet
            
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">
              Something else here
            </button>
          </div>
        </div>
        <div class="dropdown">
          <button
            class="food-filter__button food-filter__button--inactive"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Cuisine
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">
              Something else here
            </button>
          </div>
        </div>
        <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="#">
            Likes <img src="../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
        </a>
      </div>
    </div>
  </div>
</div>