<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group food-filter">
        <div class="dropdown">
          {% if url.find('cuisines') != -1 or url.find('likes_descending') != -1 or url.find('likes_ascending') != -1 %}
          <button
            class="food-filter__button food-filter__button--inactive food-filter__button--diet"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Diet
          </button>
          {% else %}
          <button
            class="food-filter__button food-filter__button--active food-filter__button--diet"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Diet
          </button>
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {% for diet in diets %}
            {% if url.find('liked_recipes') != -1 %}
            <a class="dropdown-item" href="/users/liked_recipes/diets/{{ diet.title }}">{{ diet.title }}</a>
            {% elif url.find('grocery_list') != -1 %}
            <a class="dropdown-item" href="/users/grocery_list/diets/{{ diet.title }}">{{ diet.title }}</a>
            {% else %}
            <a class="dropdown-item" href="/diets/{{ diet.title }}">{{ diet.title }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="dropdown">
          {% if url.find('cuisines') != -1 %}
          <button
            class="food-filter__button food-filter__button--active"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Cuisine
          </button>
          {% else %}
          <button
            class="food-filter__button food-filter__button--inactive"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Cuisine
          </button>
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {% for cuisine in cuisines %}
            {% if url.find('liked_recipes') != -1 %}
            <a class="dropdown-item" href="/users/liked_recipes/cuisines/{{ cuisine.title }}">{{ cuisine.title }}</a>
            {% elif url.find('grocery_list') != -1 %}
            <a class="dropdown-item" href="/users/grocery_list/cuisines/{{ cuisine.title }}">{{ cuisine.title }}</a>
            {% else %}
            <a class="dropdown-item" href="/cuisines/{{ cuisine.title }}">{{ cuisine.title }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if url.find('liked_recipes') != -1 %}
          {% if url.find('likes_descending') != -1 %}
          <a class="food-filter__button food-filter__button--active food-filter__button--likes" href="/users/liked_recipes/likes_ascending">
            Likes <img src="../../../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% elif url.find('likes_ascending') != -1 %}
          <a class="food-filter__button food-filter__button--active food-filter__button--likes" href="/users/liked_recipes/likes_descending">
            Likes <img src="../../../static/images/icons/down.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% else %}
          <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="/users/liked_recipes/likes_descending">
            Likes <img src="../../../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% endif %}
        {% elif url.find('grocery_list') != -1 %}
          {% if url.find('likes_descending') != -1 %}
          <a class="food-filter__button food-filter__button--active food-filter__button--likes" href="/users/grocery_list/likes_ascending">
            Likes <img src="../../../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% elif url.find('likes_ascending') != -1 %}
          <a class="food-filter__button food-filter__button--active food-filter__button--likes" href="/users/liked_recipes/likes_descending">
            Likes <img src="../../../static/images/icons/down.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% else %}
          <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="/users/grocery_list/likes_descending">
            Likes <img src="../../../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% endif %}
        {% else %}
          {% if url.find('likes_descending') != -1 %}
          <a class="food-filter__button food-filter__button--active food-filter__button--likes" href="/likes_ascending">
            Likes <img src="../../../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% elif url.find('likes_ascending') != -1 %}
          <a class="food-filter__button food-filter__button--active food-filter__button--likes" href="/users/liked_recipes/likes_descending">
            Likes <img src="../../../static/images/icons/down.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% else %}
          <a class="food-filter__button food-filter__button--inactive food-filter__button--likes" href="/likes_descending">
            Likes <img src="../../../static/images/icons/top.svg" alt="" class="food-filter__button--likes-icon" id="likesIcon">
          </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>