<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <div class="input-group searchbar align-items-center">
        <input type="text" class="form-control searchbar__input" placeholder="Search for a recipe...">
        <span class="input-group-btn searchbar__buttons align-middle">
          <button class="btn btn-default searchbar__buttons--search" type="submit">
              <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-default searchbar__buttons--clear" type="submit">
            <i class="fas fa-times"></i>
        </button>
        </span>
    </div>
  </div>
</div>
