<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <form class="input-group searchbar align-items-center" action="/search">
        <input type="text" name="q" class="form-control searchbar__input" placeholder="Search for a recipe...">
        <span class="input-group-btn searchbar__buttons align-middle">
          <button class="btn btn-default searchbar__buttons--search" type="submit">
              <img src="../static/images/icons/search.svg" alt="" class="searchbar__buttons--search-icon pixel filterPixel">
          </button>
          <!-- <button class="btn btn-default searchbar__buttons--clear" type="submit">
            <img src="../static/images/icons/clear.svg" alt="" class="searchbar__buttons--clear-icon pixel filterPixel">
          </button> -->
      </form>
    </div>
  </div>
</div>