#logo {
    font-family: $font-logo;
    font-size: $font-size-medium;
    font-weight: 700;

    &:hover{
        text-decoration: none;
    }
}

.navbar {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.nav-item:nth-child(even) > .nav-link {
    border-left: 2px solid $color-black;
    border-right: 2px solid $color-black;
    margin: 0 1.6rem;
    padding: 0 1.6rem;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-black;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        color: $color-green;
    }
}

.social-icon {
    padding-left: 8px;
}

.col-md-12 {
    padding: 0 8.8rem; 
}