.input-group>.custom-select:not(:last-child), 
.input-group>.form-control:not(:last-child) {
    border-radius: 4px;
}

#logo {
    font-family: $font-logo;
    font-size: $font-size-medium;
    font-weight: 700;

    &:hover{
        text-decoration: none;
    }
}

.navbar {
    padding: 2.4rem 0;
}

.nav-item:first-child,
.nav-item:not(:first-child) > .nav-link {
    padding: 0 1.6rem;
}
.nav-item:not(:first-child) > .nav-link {
    border-left: 2px solid $color-black;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-black;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        color: $color-green;
    }
}

.social-icon {
    padding-left: 8px;
}

.hero-container {
    position: relative;
    margin: 8.8rem auto 16rem;

    &__img {
        border-radius: 2px;
    }

    &__gradient {
        height: 65%;
        background: linear-gradient(180deg, #009B49 0%, #8CDC09 50.52%, #FFFFFF 100%);
        position: absolute;
        top: 40%;
        z-index: -1;
    }

    &__caption {
        font-size: $font-size-large;
        font-weight: 700;
        margin-top: 6.4rem;
    }

    &__scroll {
        display: inline-block;
        -ms-transform: rotate(270deg); /* IE 9 */
        transform: rotate(270deg);
        margin-left: -4.8rem;

        &-rectangle {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.6rem;
            background: $color-black;
            height: 4px;
            width: 80px;
            border-radius: 4px;
        }

        &-ball {
            width: 8px;
            height: 4px;
            border-radius: 4px;
            background-color: white;
            animation-name: scroll;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes scroll {
    0% {margin-left: 72px;}
    50% {width: 24px;}
    80% {width: 8px; opacity: 1;}
    100% {margin-left: 0px; opacity: 0;}
  }



.searchbar {

    &__input {
        color: $color-green;
        font-size: $font-size-small;
        height: auto;
        padding: 1rem .8rem;
        border: 2px solid $color-green;
        opacity: .6;

        &:hover {
            opacity: .8;
        }

        &:focus {
            opacity: 1;
        }
    }

    &__buttons {
        position: absolute;
        right: .8rem;
        z-index: 4;

        &--search, 
        &--clear {
            color: $color-green;
            opacity: .6;
            padding: 0;

            &:hover {
                color: $color-green;
                opacity: 1;
            }
        }

        &--search {
            font-size: $font-size-small;
        }

        &--clear {
            font-size: $font-size-smedium;
        }
    }
}

.food-filter {
    margin: 4.8rem auto;

    &__button {
        padding: 1.6rem;
        background: $color-white;
        border: none;

        &--active,
        &--inactive:hover {
            color: $color-black;
            font-weight: 600;
            border-bottom: 2px solid $color-green;
        }

        &--inactive {
            color: $color-gray;
            border-bottom: 2px solid $color-gray;
        }

        &--likes {

            &-icon {
                font-size: 8px;
                margin-left: 8px;
            }
        }
    }

}

.food-cards {
    padding-left: calc(8.8rem - 15px);
    padding-right: calc(8.8rem - 15px);
    margin-bottom: 4.8rem;

    &__img {
        border-radius: 2px;
    }

    &__food-name{
        font-size: $font-size-small;
        font-weight: 600;
        margin-top: 1.6rem;
    }

    &__button {
        margin-right: 1.6rem;

        &--thumbs-up-icon {
            padding-right: .8rem;
        }

        &--active,
        &--inactive:hover {
            color: $color-green;
        }

        &--inactive,
        &--active:hover {
            color: $color-light-gray;
        }
    }
}

.pagination {
    left: -1.6rem;

    &__button {
        font-size: $font-size-small;
        padding: .4rem 1.2rem;
        border-radius: 2px;

        &:not(:last-child){
            margin-right: 1.6rem;
        }

        &--active,
        &--active:hover,
        &--inactive:hover {
            color: $color-white;
            background: $color-green;
            border: 1px $color-green solid;
        }

        &--inactive {
            color: $color-black;
            background: $color-white;
            border: 1px $color-gray solid;

        }

        &--next {

            &,
            &:hover {
                color: $color-black;
                position: relative;
            }

            &-icon {
                color: $color-green;
                margin-left: 1.6rem;
                font-size: $font-size-smedium;
                position: absolute;
                bottom: .8rem;
            }
        }
    }
}

.footer {
    background: linear-gradient(90.15deg, #009B49 1%, #31B233 50.5%, #8CDC09 100%);
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    
    &--forms {
        background: $color-white;
    }

    &__button {
        border: 2px solid $color-green;
        margin: 11.4rem 0 2.4rem;
        padding: 1rem 1.2rem .8rem;
        border-radius: 2px;

        &-icon {
            color: $color-green;
            font-size: $font-size-smedium;
        }
    }

    &__text {
        font-size: $font-size-small;
        display: inline-flex;
        align-items: center;
    }

    &__made-with {
        color: $color-white;

        &--forms {
            color: $color-black;
        }
    }

    &__icon {
        margin: auto .8rem;
    }
}

.user-lists__title {
    display: inline-block;
    margin: 8.8rem auto;

    &-container {
        text-align: center;
    }

    &-text {
        font-size: $font-size-large;
        font-weight: 600;
    }

    &-underline {
        background: linear-gradient(90deg, $color-light-green 0%, $color-dark-green 50%, $color-light-green 100%);
        height: .4rem
    }

}

.sms__button {
    color: $color-white;
    font-size: $font-size-small;
    background: $color-green;
    padding: 2rem 2.8rem;
    margin: 8.8rem auto;
    border-radius: 5rem;

    &:hover {
        color: $color-white;
    }

    &-icon {
        margin-top: -.8rem;
        margin-left: 1.6rem;
    }
}

.recipe-page {

    &__title {
        font-size: $font-size-large;
        font-weight: 700;
        margin-top: 8.8rem;
    }

    &__stats-item {
        display: inline-block;
        margin-bottom: 4.8rem;

        &-likes {
            padding-right: 1.6rem;
            font-weight: 700;
        }

        &-button {
            padding: 0 1.6rem;
            border-left: 2px solid $color-black;

            &--active,
            &--inactive:hover {
                color: $color-green;
            }
            &--inactive,
            &--active:hover {
                color: $color-light-gray;
            }
        }
    }

    &__img {
        padding: .4rem;
        background: linear-gradient(to bottom right, #009B49, #8CDC09);
    }

    &__info {
        width: 20rem;
        padding: 1.6rem;
        margin-bottom: 0;
        border: 2px solid $color-gray;

        &-container {
            margin-bottom: 0;
        }

        &-text {
            padding-left: 1.6rem;
            padding-bottom: .8rem;
        }
    }

    &__separator {
        height: 1px;
        width: 100%;
        margin: 4.8rem auto;
        background: $color-gray;
    }

    &__section-title {
        font-size: $font-size-medium;
        font-weight: 700;
        margin: 4.8rem auto;
    }

    &__macros,
    &__ingredients, 
    &__directions {
        &-text:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }

    &__directions-steps, 
    &__macros-name {
            font-weight: 700;
            margin-bottom: .8rem
    }
    
}

.forms {
    background: url("../images/form-background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 17.2rem);
    position: relative;

    &__register {
        background: $color-white;
        border-radius: 2px;
        padding: 3.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        font-size: $font-size-large;
        color: $color-green;
        margin-bottom: 2.4rem;
    }

    &__title {
        font-weight: 700; 
        font-size: $font-size-medium;
        margin-bottom: 1.6rem;
    }

    &__description {
        margin-bottom: 3.2rem;
    }

    &__input {
        color: $color-green;
        font-size: 1.6rem;
        height: auto;
        padding: 1rem 3.2rem;
        border: 2px solid $color-green;
        opacity: .6;

        &-container:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        &-icon {
            color: $color-green;
            opacity: .6;
            position: absolute;
            left: .8rem;
            z-index: 4;
        }

        &:hover {
            opacity: .8;
        }

        &:focus + &-icon {
            opacity: 1;
        }
        
    }

    &__button {
        width: 100%;
        color: $color-white;
        font-size: $font-size-small;
        background: $color-green;
        margin-top: 3.2rem;
        padding: 2rem 2.8rem;
        border-radius: 2px;
        border: none;
    }

    &__confirm-changes {
        margin-top: 2.4rem;
    }
}