<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-7 recipe-page">
        <h1 class="recipe-page__title">{{ recipe.title }}</h1>
        <ul class="recipe-page__stats">
            <li class="recipe-page__stats-item">
                <p class="recipe-page__stats-item-likes">{{ recipe.liked_by_users|length }} likes</p>
            </li>
            <li class="recipe-page__stats-item">
                {% if recipe in g.user.liked_recipes %}
                <form method="POST" 
                      action="/users/remove_like/{{ recipe.id }}" id="messages-form">
                  <button class="recipe-page__stats-item-button recipe-page__stats-item-button--likes">
                    <img src="../../static/images/icons/likes.svg" alt="" class="recipe-page__stats-item-button--active"> 
                  </button>
                </form>
                {% else %}
                <form method="POST" 
                      action="/users/add_like/{{ recipe.id }}" id="messages-form">
                  <button class="recipe-page__stats-item-button recipe-page__stats-item-button--likes">
                    <img src="../../static/images/icons/likes.svg" alt="" class="recipe-page__stats-item-button--inactive"> 
                  </button>
                </form>
                {% endif %}
            </li>
            <!-- <li class="recipe-page__stats-item">
                {% if recipe in g.user.grocery_list_recipes %}
                <form method="POST" 
                      action="/users/remove_grocery_item/{{ recipe.id }}" id="messages-form">
                  <button class="recipe-page__stats-item-button">
                    <img src="../../static/images/icons/grocery-list.svg" alt="" class="recipe-page__stats-item-button--active">
                  </button>
                </form>
                {% else %}
                <form method="POST" 
                      action="/users/add_grocery_item/{{ recipe.id }}" id="messages-form">
                  <button class="recipe-page__stats-item-button">
                    <img src="../../static/images/icons/grocery-list.svg" alt="" class="recipe-page__stats-item-button--inactive">
                  </button>
                </form>
                {% endif %}
            </li> -->
        </ul>
        <div class="row">
            <div class="col-md-7">
                <img src="{{ recipe.image }}" alt="" class="recipe-page__img img-fluid">
            </div>
            <div class="col-md-5">
                <div class="recipe-page__info ml-auto">
                    <ul class="fa-ul recipe-page__info-container">
                        
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-leaf"></i>
                            {% if recipe.diets %}
                            {% for diet in recipe.diets %}
                            <span class="recipe-page__info-text-list">{{ diet.title[0]|upper }}{{ diet.title[1:] }}</span>
                            {% endfor %}
                            {% else %}
                            <span class="recipe-page__info-text-list">N/A</span>
                            {% endif %}
                        </li>
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-globe-americas"></i>
                            {% for cuisine in recipe.cuisines %}
                            <span class="recipe-page__info-text-list">{{ cuisine.title[0]|upper }}{{ cuisine.title[1:] }}</span>
                            {% endfor %}
                        </li>
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-clock"></i>{{ recipe["ready_in_minutes"]|round|int }} min</li>
                        <li class="recipe-page__info-text"><i class="fa-li fas fa-utensil-spoon"></i>{{ recipe["servings"]|round }} servings</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="recipe-page__macros">
            <div class="recipe-page__separator"></div>
            <h2 class="recipe-page__section-title">
                Macros
            </h2>
            {% for macro in recipe["macros"] %}
            <p class="recipe-page__macros-name">{{ macro["name"] }}: <span class="recipe-page__macros-amount">{{ macro["amount"] }} {{ macro["unit"]}}</span></p>
            {% endfor %}
        </div>
        <div class="recipe-page__ingredients">
            <div class="recipe-page__separator"></div>
            <h2 class="recipe-page__section-title">
                Ingredients
            </h2>
            <ul class="recipe-page__ingredients-container">
                {% for ingredient in recipe["ingredients"] %}
                <li class="recipe-page__ingredients-text">{{ "%.2f" | format(ingredient["amount"]|float) }} {{ ingredient["unit"] }} - {{ ingredient["name"] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-page__directions">
            <div class="recipe-page__separator"></div>
            <h2 class="recipe-page__section-title">
                Directions
            </h2>
            <div class="recipe-page__directions-container">
                {% if recipe["directions"] %}
                {% for direction in recipe["directions"] %}
                <h3 class="recipe-page__directions-steps">Step {{ direction["number"] }}</h3>
                <p class="recipe-page__directions-text">
                    {{ direction["step"] }}
                </p>
                {% endfor %}
                {% else %}
                <h3 class="recipe-page__directions-steps">N/A</h3>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
    </div>
  </div>
  