{% extends 'base.html' %}
{% block title %} lawrence123's Grocery List {% endblock %}
{% block content %}
{% include '/components/top-nav-logged-in.html' %}
{% include '/components/titles/grocery-list-title.html' %}
{% include '/components/searchbar.html' %}
{% include '/components/food-filter.html' %}
{% for food_card in range(1,7) %}
    {% include '/components/food-cards-logged-in.html' %}
{% endfor %}
{% include '/components/buttons/pagination.html' %}
{% include '/components/buttons/sms-button.html' %}
{% include '/components/footer.html' %}
{% endblock %}