{% extends 'base.html' %}
{% block title %} Wonder Recipe {% endblock %}
{% block content %}
{% include '/components/top-nav-logged-in.html' %}
{% include '/components/hero-container.html' %}
{% include '/components/searchbar.html' %}
{% include '/components/food-filter.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/footer.html' %}
{% endblock %}