{% extends 'base.html' %}
{% block title %} lawrence123's Liked Recipes {% endblock %}
{% block content %}
{% include '/components/top-nav-logged-in.html' %}
{% include '/components/searchbar.html' %}
{% include '/components/food-filter.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/food-cards-logged-in.html' %}
{% include '/components/pagination.html' %}
{% include '/components/footer.html' %}
{% endblock %}