{% extends '/components/forms/form-template.html'%}
{% block form %}
<form method="POST" class="forms__register">
    <div class="forms__icon-container text-center">
        <i class="fas fa-users forms__icon"></i>
    </div>
    <h1 class="forms__title text-center">Create an account</h1>
    <p class="forms__description text-center">
        Please fill out the form to create an account
    </p>
    <div class="input-group forms__input-container align-items-center">
        <input type="text" class="form-control forms__input" name="username" id="username" placeholder="Username" autocomplete="off" required>
        <span class="input-group-btn forms__input-icon align-middle">
            <i class="fas fa-user"></i>
        </span>
    </div>
    <div class="input-group forms__input-container align-items-center">
        <input type="email" class="form-control forms__input" name="email" id="email" placeholder="Email" required>
        <span class="input-group-btn forms__input-icon align-middle">
            <i class="fas fa-envelope"></i>
        </span>
    </div>
    <div class="input-group forms__input-container align-items-center">
        <input type="password" class="form-control forms__input" name="password" id="password" placeholder="Password" autocomplete="off" required>
        <span class="input-group-btn forms__input-icon align-middle">
            <i class="fas fa-lock"></i>
        </span>
    </div>
    <div class="input-group forms__input-container align-items-center">
        <input type="text" class="form-control forms__input" name="phoneno" id="phoneno" placeholder="(201) 654-1555" required>
        <span class="input-group-btn forms__input-icon align-middle">
            <i class="fas fa-phone"></i>
        </span>
    </div>
    {% include '/components/buttons/register-button.html' %}
</form>
{% endblock %}